<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MISA.VN</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AMIS.VN LogIn</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="../Contents/Font/LobSterGGFont.css" rel="stylesheet" />
    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/NewsFeed.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="NewsFeed.html" class="logo"><img src="../Contents/Icon/logo.png" /></a>
        </div>
    </div>

    <div class="content">
        <div class="left-content">
            <div class="UserInfo">
                <div id="Avatar" style="float: left;">
                    <a href="#" alt="Avatar"><img class="Avatar-img" src="../Contents/Image/EmployeeImage.png" /></a>
                </div>
                <div class="UserName" style="float: left; max-width: 115px; margin-left: 8px;">
                    <div class="FullName" style="margin-top: 5px;">
                        <a href="#" style=" font-size:14px; color: #355dbd; font-weight:bold; text-decoration:none;">Lê Thị A</a>
                    </div>
                    <div class="PrivatePage" style="margin-top: -2px;">
                        <a href="#" style="font-family:12px; color: black;">Xem trang cá nhân</a>
                    </div>
                </div>
            </div>
            <div class="Menu" style="padding-top: 40px;">
                <div class="MainMenu" style="margin-top: 15px;">
                    <span style="font-weight:bold;">Ứng dụng chính</span>
                    <ul style="list-style:none; margin-left: -35px; margin-top: 10px;">
                        <li class="AppIcon"><a href="#" style="background-image: url('../Contents/Icon/news_app.png');"><span class="LinkApp">Tin tức</span></a></li>

                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/accounting_app.png');"><span class="LinkApp">Kế Toán</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/crm_app.png'); "><span class="LinkApp">Bán Hàng</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/hrm2_app.png');"><span class="LinkApp">Nhân Sự</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/document_app.png')"><span class="LinkApp">Tài Liệu</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/asset_app.png')"><span class="LinkApp">Tài Sản</span></a></li>
                    </ul>
                </div>
                <div class="SubMenu" style="margin-top: 15px;">
                    <span style="font-weight:bold;">Ứng dụng khác</span>
                    <ul style="list-style:none; margin-left: -35px; margin-top: 10px;">
                        <li class="AppIcon"><a href="#" style="background-image: url('../Contents/Icon/task_app.png');"><span class="LinkApp">Công Việc</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/email_app.png');"><span class="LinkApp">Văn Thư</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/initiative_app.png'); "><span class="LinkApp">Sáng Kiến</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/download_app.png');"><span class="LinkApp">Download</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/contact_app.png')"><span class="LinkApp">Danh Bạ</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/picture_app.png')"><span class="LinkApp">Kho Ảnh</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/video_app.png')"><span class="LinkApp">Kho Phim</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/knowledge_app.png')"><span class="LinkApp">Tri Thức</span></a></li>
                        <li class="AppIcon"> <a href="#" style="background-image: url('../Contents/Icon/website_app.png')"><span class="LinkApp">Website</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-content">

            <div class="col-xs-4" id="new_status">
                <nav class="navbar navbar-expand-sm " id="post_header">
                    <ul class="navbar-nav" id="post-options">
                        <li class="nav-item active"><a href="#" class="option-box">Chia sẻ thông tin</a></li>
                        <li class="nav-item" style="padding-left:20px;"><a href="#" class="option-box">Công việc</a></li>
                        <li class="nav-item" style="padding-left:20px;"><a href="#" class="option-box">Lịch làm việc</a></li>
                        <li class="nav-item" style="padding-left:20px;"><a href="#" class="option-box">Ao cơ hội</a></li>
                    </ul>
                </nav>


                <textarea id="status_content" class="col-xs-12" placeholder="What's on your mind?"></textarea>


                <div class="col-xs-4" id="post_footer">
                    <div class="col-xs-4">
                        <button class="btn btn-lg btn-primary" style="font-size: 14px; margin-top: -10px;">Đăng</button>
                    </div>
                </div>
            </div>

            <div class="post-content">
                <div class="post-heading">
                    <div id="Avatar" style="float: left;">
                        <a href="#" alt="Avatar"><img class="Avatar-img" src="../Contents/Image/EmployeeImage.png" /></a>
                    </div>
                    <div class="UserName" style="float: left; max-width: 115px; margin-left: 8px;">
                        <div class="FullName" style="margin-top: 5px; width:300px;">
                            <a href="#" style=" font-size:14px; color: #355dbd; font-weight:bold; ">Lê Thị A</a>
                        </div>
                        <div class="PostTime" style="margin-top: -2px;">
                            <p style="font-family:12px; color: silver;">1 phút trước</p>
                        </div>

                    </div>
                </div>
                <div class="post-description" style="padding-top: 60px;">
                    <p>Hôm nay vui quá cả nhà ơi :))</p>
                    <div class="navbar navbar-expand-sm  LikeCommentInfo">
                        <ul class="navbar-nav">
                            <li class="nav-item ButtonClick "><a href="#" class="LikeButton" style="background-image:url('../Contents/Icon/like-icon.png');"><span class="">Thích</span></a></li>
                            <li class="nav-item ButtonClick" style="padding-left:20px;"><a href="#" style="background-image:url('../Contents/Icon/comment-icon.png');"><span class="">Bình luận</span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="comment-list">
                        <div class="comment-box">
                            <div id="Avatar" style="float: left; ">
                                <a href="#"><img class="Avatar-img" src="../Contents/Image/EmployeeImage.png" alt="Avatar" /></a>
                            </div>
                            <div class="comment-content">
                                <a href="#" style=" font-size:14px; color: #355dbd; font-weight:bold;">Lê Thị A</a>
                                <p>Sao trùng hợp, hôm nay tớ cũng rất là vui !!! Hôm nào chúng mình gặp nhau nhé</p>
                            </div>
                            <div class="comment-info">
                                <a href="#" class="comment-like" style="color: #355dbd">Like</a><span style="padding-left: 10px; color: silver;">2h trước</span>
                            </div>
                        </div>

                    </div>
                    <div class="my-comment">
                        <textarea class="my-comment-content" placeholder="Viết bình luận ..."></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-content">
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>




    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/popper.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/NewsFeed.js"></script>
</body>
</html>