<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>AMIS.VN</title>
    <link rel="shortcut icon" type="image/x-icon" href="../Contents/Icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css" />
</head>

<body>

    <div class="top-bar">
        <div class="left-element">
            <img src="../Contents/Icons/logo.png">
        </div>

        <div class="search-container">
            <form class="search-form">
                <input class="search-bar" type="text" placeholder="Nhập nội dung tìm kiếm...">
                <button class="search-button" style="background-image: url(../Contents/Icons/search.png)"></button>
            </form>
        </div>

        <div class="profile-bar" data-user-id="9275f7a1-be70-4c95-a575-86d102b02176">
            <button class="profile-button" style="background-image: url(../Contents/Icons/help-default.png)"></button>
            <button class="profile-button" style="background-image: url(../Contents/Icons/noti-default.png)"></button>
            <img class="avatar-topbar" src="../Contents/Images/EmployeeImage_4.png">

            <span class="profile-name">Mạnh</span>
            <button class="menu-button profile-button" style="background-image: url(../Contents/Icons/profile-menu.png)"></button>
            <div class="menu-top-icon"></div>
            <ul class="profile-menu">
                <li class="menu-pf-name">Nguyễn Văn Mạnh</li>
                <li>Trang tin của tôi</li>
                <li>Quản lý ứng dụng và biểu đồ</li>
                <li>Thay đổi mật khẩu</li>
                <li>Phiên đăng nhập của tôi</li>
                <li>Thông báo từ hệ thống</li>
                <li class="logout">
                    <img class="logout-icon" src="../Contents/Icons/logout-icon.png">
                    <span class="logout-title">Đăng xuất</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-content">
        <div class="left-panel left-element">
            <div class="user-info">
                <img class="avatar-body" src="../Contents/Images/EmployeeImage_4.png">
                <div class="info">
                    <a href="#" class="bold-link">Nguyễn Văn Mạnh<br></a>
                    <a href="#" class="more-info">Xem trang cá nhân</a>
                </div>
            </div>

            <div class="left-menu">
                <span style="font-weight: bold">Ứng dụng chính</span>
                <ul class="app-list">
                    <li>
                        <img src="../Contents/Icons/news_app.png">
                        <span class="app-name">Tin tức</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/accounting_app.png">
                        <span class="app-name">Kế toán</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/crm_app.png">
                        <span class="app-name">Bán hàng</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/hrm2_app.png">
                        <span class="app-name">Nhân sự</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/document_app.png">
                        <span class="app-name">Tài liệu</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/asset_app.png">
                        <span class="app-name">Tài sản</span>
                    </li>
                </ul>

                <span style="font-weight: bold">Ứng dụng khác</span>
                <ul class="app-list">
                    <li>
                        <img src="../Contents/Icons/mtax_app.png">
                        <span class="app-name" style="margin-left: 8px! important">Khai thuế</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/task_app.png">
                        <span class="app-name">Công việc</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/email_app.png">
                        <span class="app-name">Văn thư</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/initiative_app.png">
                        <span class="app-name">Sáng kiến</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/download_app.png">
                        <span class="app-name">Download</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/TimKiemKhachHang_03.png">
                        <span class="app-name">Khách hàng</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/knowledge_app.png">
                        <span class="app-name">Danh bạ</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/picture_app.png">
                        <span class="app-name">Kho ảnh</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/video_app.png">
                        <span class="app-name">Kho phim</span>
                    </li>
                    <li>
                        <img src="../Contents/Icons/knowledge_app.png">
                        <span class="app-name">Tri thức</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mid-panel">
            <div class="new-status">
                <div class="col-xs-4 post-header">
                    <ul class="nav nav-tabs post-options">
                        <li class="active" style="margin-left: 15px! important">Chia sẻ thông tin</li>
                        <li>Công việc</li>
                        <li>Lịch làm việc</li>
                        <li>Ao cơ hội</li>
                    </ul>
                </div>

                <button class="filter-button" style="background-image: url(../Contents/Icons/filter.png)"></button>
                <textarea class="col-xs-12 post-content" placeholder="What's on your mind?"></textarea>
            </div>
            <div class="post-footer">
                <ul>
                    <li>
                        <span class="custom-radio">
                            <input type="radio" id="share" name="toggle-radio" class="custom-control-input">
                            <label class="custom-control-label" for="share">Chia sẻ</label>
                        </span>
                        <span class="custom-radio" style="margin-left: 40px">
                            <input type="radio" id="idea" name="toggle-radio" class="custom-control-input">
                            <label class="custom-control-label" for="idea">Sáng kiến</label>
                        </span>
                    </li>
                </ul>
                <button class="btn btn-primary">Gửi</button>
            </div>
            <div class="full-status">
                <div class="status-heading">
                    <div class="sts-avatar">
                        <a href="#"><img class="avatar-body" src="../Contents/Images/EmployeeImage_3.png" /></a>
                    </div>
                    <div class="sts-username">
                        <a href="#" class="bold-link">Nguyễn Thị Ngà<br></a>
                        <a href="#" class="grey-text">2 giờ trước</a>
                    </div>
                </div>

                <div class="sts-description">
                    <img src="../Contents/Images/new_1.png">
                    <div class="content">
                        <a href="#" class="bold-link">Dunning–Kruger effect<br></a>
                        <p class="content-body">
                            In the field of psychology, the Dunning–Kruger effect is a cognitive bias in which
                            people of low ability have illusory
                            superiority and mistakenly assess their cognitive ability as greater than it is. The
                            cognitive bias of
                            illusory
                            superiority comes from the inability of low-ability people to recognize their lack of
                            ability.
                        </p>
                    </div>
                </div>

                <div class="navbar navbar-expand-sm like-comment-btn">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button class="like-button no-like-icon">
                                Thích
                            </button>
                        </li>
                        <li class="nav-item" style="margin-left: 10px">
                            <button class="cmt-button" style="background-image:url('../Contents/Icons/comment-icon.png')">
                                Bình luận
                            </button>
                        </li>
                    </ul>

                    <ul class="nav nav-tabs">
                        <li><a href="#">5 Thích</a></li>
                        <li><a href="#">1 Bình luận</a></li>
                    </ul>
                </div>

                <div class="sts-footer">
                    <div class="comment-list">
                        <div class="comment-box">
                            <div class="cmt-ava">
                                <a href="#"><img class="avatar-body" src="../Contents/Images/EmployeeImage.png" /></a>
                            </div>
                            <div class="cmt-content">
                                <a href="#" class="bold-link">Lê Thị A</a>
                                <div class="content">
                                    Low-ability people cannot objectively evaluate their competence or incompetence.
                                </div>
                                <div class="cmt-info">
                                    <a href="#">Thích</a>
                                    <a href="#" class="grey-text">1h trước</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-comment">
                        <textarea class="content cmt-before-focus" placeholder="Viết bình luận ..."></textarea>
                        <button class="emoticons emo-before-focus">
                            <img src="../Contents/Icons/emotionstick1.png">
                        </button>
                        <div class="post-action">
                            <button class="btn btn-primary">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="birthday-pn">
                <div class="title">SINH NHẬT</div>
                <div class="birthday-box">
                    <div class="bd-avatar">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage_4.png" />
                    </div>
                    <div class="bd-username">
                        <a href="#" class="bold-link black-text">Nguyễn Văn Mạnh<br></a>
                        <a href="#" class="grey-text">Tròn 25 tuổi</a>
                    </div>
                </div>
                <div class="birthday-box">
                    <div class="bd-avatar">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage_3.png" />
                    </div>
                    <div class="bd-username">
                        <a href="#" class="bold-link black-text">Nguyễn Thị Ngà<br></a>
                        <a href="#" class="grey-text">Tròn 23 tuổi</a>
                    </div>
                </div>
                <div class="birthday-box">
                    <div class="bd-avatar">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage_2.png" />
                    </div>
                    <div class="bd-username">
                        <a href="#" class="bold-link black-text">Bùi Minh Tuấn<br></a>
                        <a href="#" class="grey-text">Tròn 24 tuổi</a>
                    </div>
                </div>
            </div>

            <div class="announcement-pn">
                <div class="title">THÔNG BÁO</div>
                <div class="announcement-box">
                    <img class="announcement-icon" src="../Contents/Icons/trophy-icon.png">
                    <p class="announcement-content">Anh <a href="#" class="bold-link black-text">Lê Viết Thanh</a> được khen thưởng</p>
                </div>
                <div class="announcement-box">
                    <img class="announcement-icon" src="../Contents/Icons/trophy-icon.png">
                    <p class="announcement-content">Chị <a href="#" class="bold-link black-text">Đào Thị Lan Anh</a> được khen thưởng</p>
                </div>
                <div class="announcement-box higher-box">
                    <img class="announcement-icon" src="../Contents/Icons/haschild-icon.png">
                    <p class="announcement-content">
                        Vợ anh <a href="#" class="bold-link black-text">Nguyễn Văn Trường</a> vừa sinh bé gái <b>Nguyễn Thị Phương Thảo</b>
                        ngày 19/08/2018
                    </p>
                </div>
                <div class="announcement-box higher-box">
                    <img class="announcement-icon" src="../Contents/Icons/employee-trial-icon.png">
                    <p class="announcement-content">
                        Anh <a href="#" class="bold-link black-text">Nguyễn Lê Khánh Linh</a>, chị <a href="#" class="bold-link black-text">
                        Hà Quỳnh Nga</a> và <a href="#" class="bold-link black-text">4 thành viên khác</a> vừa gia nhập công ty
                    </p>
                </div>
            </div>

            <div class="best-sale-pn">
                <div class="title">BÁN HÀNG XUẤT SẮC</div>
                <div class="best-sale-box">
                    <div class="best-sale-avt">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage_4.png">
                    </div>
                    <div class="best-sale-info">
                        <a href="#" class="bold-link black-text">Nguyễn Văn Mạnh<br></a>
                        <div class="grey-text">
                            Nhóm Cobra<br>
                            Văn phòng Misa Hà Nội
                        </div>
                        <span class="bold-link">3.072.000.000 VND</span>
                    </div>
                </div>
                <div class="best-sale-box">
                    <div class="best-sale-avt">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage_2.png">
                    </div>
                    <div class="best-sale-info">
                        <a href="#" class="bold-link black-text">Bùi Minh Tuấn<br></a>
                        <div class="grey-text">
                            SKY TEAM<br>
                            Văn phòng Misa TP Hồ Chí Minh
                        </div>
                        <span class="bold-link">218.950.000 VND</span>
                    </div>
                </div>
                <div class="best-sale-box">
                    <div class="best-sale-avt">
                        <img class="avatar-body" src="../Contents/Images/EmployeeImage.png">
                    </div>
                    <div class="best-sale-info">
                        <a href="#" class="bold-link black-text">Vũ Thị Ngọc Anh<br></a>
                        <div class="grey-text">
                            Nhóm Jaguar<br>
                            Văn phòng Misa Hà Nội
                        </div>
                        <span class="bold-link">134.000.000 VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/popper.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/main.js"></script>
</body>

</html>